.feynman {
    position: relative;
    background: #f2f2f2 url(../../images/feynman.png) no-repeat bottom left;
    background-size: 867px 637px;
    min-height: 890px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
